@media (max-width: 767px) {
    /* Le code pour les mobiles ici */
    body {
        margin: 0;
    }
    /* Header */
    header {
        flex-direction: column;
    }
    header nav ul {
        padding-left: 0;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo img {
        content: url("images/logo/Booki.png")
    }
    nav ul li {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #c1c1c1;
    }
    nav ul li:hover {
        border-top: none;
        border-bottom-color: #0065FC;
    }
    nav ul li a:hover {
        border-top: none;
        color: #0065FC;
    }
    /* Main*/
    main {
        margin-left: 40px;
    }
    .search-zone h3 {
        font-size: 22px;
    }
    .search em {
        display: block;
    }
    .search span {
        display: none;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #000;
        font-size: 18px;
        font-weight: bold;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: #000;
        font-size: 36px;
        font-weight: bold;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: #000;
        font-size: 36px;
        font-weight: bold;
    }
    .search input[type=text] {
        width: 100%;
    }
    .search button {
        border-radius: 10px;
        position: relative;
        left: -5px;
    }
    .search-filters {
        width: 94%;
    }
    .search-filters-title {
        margin-bottom: 10px;
        width: 100%;
    }
    .search-filters-button {
        margin: 5px 0;
    }
    .search-infos-text {
        font-size: 15px;
        font-weight: 600;
    }
    /* Hebergement*/
    .hebergement {
        flex-direction: column-reverse;
        margin-left: -40px;
    }
    .hebergement div {
        border-radius: 10px;
        width: 95%;
        height: 100%;
    }
    .card-img img {
        object-fit: cover;
        height: 150px;
    }
    .hebergement-popular .card .card-body {
        overflow: hidden;
    }
    .hebergement-popular .card .card-price {
        margin-bottom: -42px;
        margin-top: 10px;
    }
    .card-title {
        margin-bottom: -70px;
    }
    .hebergement-list-card .card-body div {
        margin: 5px 0;
    }
    .hebergement-popular-list {
        margin-left: -20px;
    }
    .trending {
        font-size: 23px;
    }
    .hebergement-popular .card {
        border-radius: 10px;
        height: 120px;
        margin-bottom: 30px;
    }
    .hebergement-popular .card-img img {
        border-radius: 10px 0 0 10px;
        height: 110px;
        /* width: 100%;
        height: 100%;
        margin: -35px 0 0 -35px; */
    }
    .hebergement-list {
        padding: 20px;
        background-color: #fff!important;
    }
    .hebergement-list-card {
        margin-bottom: 20px;
    }
    .card-body {
        padding: 0;
    }
    /*hebergement-activites*/
    .hebergement-activites {
        display: block;
        margin-left: -20px;
    }
    .activites-1,
    .activites-2,
    .activites-3,
    .activites-4,
    .activites-5,
    .activites-6 {
        height: 160px;
        margin-bottom: 15px;
    }
    .activites-1 img,
    .activites-2 img,
    .activites-3 img,
    .activites-4 img,
    .activites-5 img,
    .activites-6 img {
        height: 120px;
        object-fit: cover;
    }
    /*Footer*/
    footer {
        flex-direction: column;
    }
}